training/word-corpora/nltk/3.2.2/nltk_data/corpora/brown_tei/BrownXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2004/10/xml.xsd"/>
  <!--
    Schema generated from ODD source 2008-10-15T13:04:27Z. 
    TEI Edition: 1.1.0. Last updated on 4th July 2008.
    
  -->
  <!---->
  <xs:complexType name="macro.paraContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.inter"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.phrase"/>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq.limited" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.limitedPhrase"/>
  </xs:complexType>
  <xs:attributeGroup name="att.ascribed.attributes">
    <xs:attributeGroup ref="ns1:att.ascribed.attribute.who"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ascribed.attribute.who">
    <xs:attribute name="who">
      <xs:annotation>
        <xs:documentation>indicates the person, or group of
	people, to whom the element content is ascribed.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attributes">
    <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.when">
    <xs:attribute name="when">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form,
      e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declarable.attributes">
    <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declarable.attribute.default">
    <xs:attribute name="default" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether or not this element is selected by default when
its parent is selected.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true">
            <xs:annotation>
              <xs:documentation>This element is selected if its parent is selected</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="false">
            <xs:annotation>
              <xs:documentation>This element can only be selected explicitly, unless it is the
only one of its kind, in which case it is selected if its parent is selected.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declaring.attributes">
    <xs:attributeGroup ref="ns1:att.declaring.attribute.decls"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declaring.attribute.decls">
    <xs:attribute name="decls">
      <xs:annotation>
        <xs:documentation>identifies one or more declarable elements within the
header, which are understood to apply to the element bearing this
attribute and its content.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.duration.w3c.attributes">
    <xs:attributeGroup ref="ns1:att.duration.w3c.attribute.dur"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.duration.w3c.attribute.dur">
    <xs:attribute name="dur" type="xs:duration">
      <xs:annotation>
        <xs:documentation>(duration) indicates the length of this element in time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.n">
    <xs:attribute name="n">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is
      not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlbase">
    <xs:attribute ref="xml:base"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attributes">
    <xs:attributeGroup ref="ns1:att.segLike.attribute.type"/>
    <xs:attributeGroup ref="ns1:att.segLike.attribute.function"/>
    <xs:attributeGroup ref="ns1:att.segLike.attribute.part"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attribute.type">
    <xs:attribute name="type" type="xs:Name">
      <xs:annotation>
        <xs:documentation>characterizes the type of segment.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attribute.function">
    <xs:attribute name="function" type="xs:Name">
      <xs:annotation>
        <xs:documentation>characterizes the function of the segment.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attribute.part">
    <xs:attribute name="part" default="N">
      <xs:annotation>
        <xs:documentation>specifies whether or not the segment is fragmented by some other
structural element, for example a clause which is divided between two
or more sentences.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y">
            <xs:annotation>
              <xs:documentation>(yes) the segment is incomplete in some respect</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>(no) either the segment is complete, or no claim is made as to
its completeness</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="I">
            <xs:annotation>
              <xs:documentation>(initial) the initial part of an incomplete segment</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>(medial) a medial part of an incomplete segment</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="F">
            <xs:annotation>
              <xs:documentation>(final) the final part of an incomplete segment</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attributes">
    <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.type">
    <xs:attribute name="type" type="xs:Name">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient
 classification scheme or typology.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.subtype">
    <xs:attribute name="subtype" type="xs:Name">
      <xs:annotation>
        <xs:documentation>provides a sub-categorization of the element, if needed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="model.nameLike.agent">
    <xs:sequence>
      <xs:element ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike">
    <xs:choice>
      <xs:element ref="ns1:s"/>
      <xs:element ref="ns1:w"/>
      <xs:element ref="ns1:c"/>
      <xs:element ref="ns1:mw"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.emphLike">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.highlighted">
    <xs:sequence>
      <xs:group ref="ns1:model.emphLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.biblLike">
    <xs:sequence>
      <xs:element ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart">
    <xs:sequence>
      <xs:group ref="ns1:model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.publicationStmtPart">
    <xs:choice>
      <xs:element ref="ns1:address"/>
      <xs:element ref="ns1:date"/>
      <xs:element ref="ns1:distributor"/>
      <xs:element ref="ns1:idno"/>
      <xs:element ref="ns1:availability"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.respLike">
    <xs:sequence>
      <xs:element ref="ns1:respStmt"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.imprintPart">
    <xs:sequence>
      <xs:element ref="ns1:distributor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.addressLike">
    <xs:choice>
      <xs:element ref="ns1:email"/>
      <xs:element ref="ns1:address"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike">
    <xs:sequence>
      <xs:group ref="ns1:model.nameLike.agent"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.biblPart">
    <xs:choice>
      <xs:group ref="ns1:model.respLike"/>
      <xs:group ref="ns1:model.imprintPart"/>
      <xs:element ref="ns1:edition"/>
      <xs:element ref="ns1:extent"/>
      <xs:element ref="ns1:idno"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.addrPart">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike"/>
      <xs:element ref="ns1:addrLine"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pPart.data">
    <xs:choice>
      <xs:group ref="ns1:model.dateLike"/>
      <xs:group ref="ns1:model.addressLike"/>
      <xs:group ref="ns1:model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.inter">
    <xs:sequence>
      <xs:group ref="ns1:model.biblLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.common">
    <xs:choice>
      <xs:group ref="ns1:model.divPart"/>
      <xs:group ref="ns1:model.inter"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.phrase">
    <xs:choice>
      <xs:group ref="ns1:model.segLike"/>
      <xs:group ref="ns1:model.highlighted"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.limitedPhrase">
    <xs:choice>
      <xs:group ref="ns1:model.emphLike"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(name, proper noun) contains a proper noun or noun phrase.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="email">
    <xs:annotation>
      <xs:documentation>(electronic mail address) contains an e-mail address identifying a location to which
e-mail messages can be delivered.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:annotation>
      <xs:documentation>contains a postal  address, for example of a
publisher, an organization, or an individual.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ns1:model.addrPart"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrLine">
    <xs:annotation>
      <xs:documentation>(address line) contains one line of a postal address.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>contains a date in any format.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.phrase"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
      <xs:attribute name="calendar">
        <xs:annotation>
          <xs:documentation>indicates the system or calendar to which the date
      represented by the content of this element belongs.
Suggested values include: 1] Gregorian; 2] Julian; 3] Islamic; 4] Hebrew; 5] Revolutionary; 6] Iranian; 7] Coptic; 8] Chinese</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:Name">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Gregorian">
                  <xs:annotation>
                    <xs:documentation>Gregorian calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Julian">
                  <xs:annotation>
                    <xs:documentation>Julian calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Islamic">
                  <xs:annotation>
                    <xs:documentation>Islamic or Muslim (hijri) lunar calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Hebrew">
                  <xs:annotation>
                    <xs:documentation>Hebrew or Jewish lunisolar calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Revolutionary">
                  <xs:annotation>
                    <xs:documentation>French Revolutionary calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Iranian">
                  <xs:annotation>
                    <xs:documentation>Iranian or Persian (Jalaali) solar calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Coptic">
                  <xs:annotation>
                    <xs:documentation>Coptic or Alexandrian calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Chinese">
                  <xs:annotation>
                    <xs:documentation>Chinese lunisolar calendar</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="respStmt">
    <xs:annotation>
      <xs:documentation>(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or
  series, where the specialized elements for authors, editors, etc. do
  not suffice or do not apply.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" ref="ns1:resp"/>
          <xs:group maxOccurs="unbounded" ref="ns1:model.nameLike.agent"/>
        </xs:sequence>
        <xs:sequence>
          <xs:group maxOccurs="unbounded" ref="ns1:model.nameLike.agent"/>
          <xs:element maxOccurs="unbounded" ref="ns1:resp"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resp">
    <xs:annotation>
      <xs:documentation>(responsibility) contains a phrase describing the nature of a person's
  intellectual responsibility.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq.limited">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>contains the full title of a work of any kind.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indicates the bibliographic level for a title, that is,
	whether it identifies  an article, book, journal,
series, or unpublished material.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytic) analytic title (article, poem, or other item published as
          part of a larger item)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographic) monographic title (book, collection, or other item published
          as a distinct item, including single volumes of multi-volume
          works)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) journal title</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(series) series title</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) title of unpublished material (including theses and
          dissertations unless published by a commercial press)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="type" type="xs:Name">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibl">
    <xs:annotation>
      <xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic citation of which
the sub-components may or may not be explicitly tagged.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.highlighted"/>
        <xs:group ref="ns1:model.pPart.data"/>
        <xs:group ref="ns1:model.segLike"/>
        <xs:group ref="ns1:model.biblPart"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiCorpus">
    <xs:annotation>
      <xs:documentation>contains the whole of a TEI encoded corpus, comprising a
single corpus header and one or more TEI elements, each containing
a single text header and a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:TEI"/>
          <xs:element ref="ns1:teiCorpus"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="version" default="5.0" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>The version of the TEI scheme</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:group name="model.headerPart">
    <xs:choice>
      <xs:element ref="ns1:encodingDesc"/>
      <xs:element ref="ns1:profileDesc"/>
    </xs:choice>
  </xs:group>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI Header) supplies the descriptive and declarative information making
	up an electronic title page prefixed to every TEI-conformant
	text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.headerPart"/>
        <xs:element minOccurs="0" ref="ns1:revisionDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="type" default="text" type="xs:Name">
        <xs:annotation>
          <xs:documentation>specifies the kind of document to which the header is
      attached, for example whether it is a corpus or individual text.
Sample values include: 1] text; 2] corpus</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic
file.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="ns1:titleStmt"/>
          <xs:element minOccurs="0" ref="ns1:editionStmt"/>
          <xs:element minOccurs="0" ref="ns1:extent"/>
          <xs:element ref="ns1:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those
responsible for its intellectual content.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:respStmt"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editionStmt">
    <xs:annotation>
      <xs:documentation>(edition statement) groups information relating to one edition of a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
        <xs:sequence>
          <xs:element ref="ns1:edition"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:respStmt"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:annotation>
      <xs:documentation>(edition) describes the particularities of one edition of a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="extent">
    <xs:annotation>
      <xs:documentation>describes the approximate size of a text as stored on
some carrier medium, whether digital or non-digital, specified in any convenient units.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution
of an electronic or other text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="ns1:model.publicationStmtPart"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="distributor">
    <xs:annotation>
      <xs:documentation>supplies the name of a person or other agency responsible for the
distribution of a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>(identifying number) supplies any standard or non-standard number used to identify a
bibliographic item.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="type" type="xs:Name">
        <xs:annotation>
          <xs:documentation>categorizes the number, for example as an ISBN or other
         standard series.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>supplies information about the availability of a text, for
  example any restrictions on its use or distribution, its copyright
  status, etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
      <xs:attribute name="status" default="unknown">
        <xs:annotation>
          <xs:documentation>supplies a code identifying the current availability of the
text.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="free">
              <xs:annotation>
                <xs:documentation>the text is freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
              <xs:annotation>
                <xs:documentation>the status of the text is unknown.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="restricted">
              <xs:annotation>
                <xs:documentation>the text is not freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) supplies a description of the source text(s) from
which an electronic text was derived or generated.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="ns1:model.biblLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="model.encodingPart">
    <xs:choice>
      <xs:element ref="ns1:projectDesc"/>
      <xs:element ref="ns1:classDecl"/>
    </xs:choice>
  </xs:group>
  <xs:element name="encodingDesc">
    <xs:annotation>
      <xs:documentation>(encoding description) documents the relationship between an electronic text and the
source or sources from which it was derived.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="ns1:model.encodingPart"/>
        <xs:group ref="ns1:model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectDesc">
    <xs:annotation>
      <xs:documentation>(project description) describes in detail the aim or purpose for which an electronic
file was encoded, together with any other relevant information
concerning the process by which it was assembled or collected.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="namespace">
    <xs:annotation>
      <xs:documentation>supplies the formal name of the namespace to which the elements
documented by its children belong.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="name" use="required" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>the full formal name of the namespace concerned.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="classDecl">
    <xs:annotation>
      <xs:documentation>(classification declarations) contains one or more taxonomies defining any classificatory
codes used elsewhere in the text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:taxonomy"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="taxonomy">
    <xs:annotation>
      <xs:documentation>defines a typology used to classify texts either implicitly, by
means of a bibliographic citation, or explicitly by a structured
taxonomy.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element maxOccurs="unbounded" ref="ns1:category"/>
        <xs:sequence>
          <xs:group ref="ns1:model.biblLike"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:category"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:annotation>
      <xs:documentation>contains an individual descriptive category, possibly nested
within a superordinate category, within a user-defined taxonomy.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:catDesc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:category"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="catDesc">
    <xs:annotation>
      <xs:documentation>(category description) describes some category within a taxonomy
or text typology, either in the form of a brief prose description
or in terms of the situational parameters used by the TEI
formal textDesc.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.limitedPhrase"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:annotation>
      <xs:documentation>(text-profile description) provides a detailed description of non-bibliographic aspects of a
text, specifically the languages and sublanguages used, the situation in
which it was produced, the participants and their setting.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:creation"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="creation">
    <xs:annotation>
      <xs:documentation>contains information about the creation of a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq.limited">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:annotation>
      <xs:documentation>characterizes a single language or sublanguage used within a
  text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq.limited">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
          <xs:attribute name="ident" use="required" type="xs:language">
            <xs:annotation>
              <xs:documentation>(identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the language documented
      by this element, and which is referenced by the global xml:lang attribute.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="usage">
            <xs:annotation>
              <xs:documentation>specifies the approximate percentage (by volume) of the
      text which uses this language.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:nonNegativeInteger">
                <xs:maxInclusive value="100"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:annotation>
      <xs:documentation>(revision description) summarizes the revision history for a file.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:change"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:annotation>
      <xs:documentation>summarizes a particular change or correction made
to a particular version of an electronic text which is
shared between several researchers.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.limitedPhrase"/>
        <xs:group ref="ns1:model.inter"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.ascribed.attribute.who"/>
      <xs:attribute name="when">
        <xs:annotation>
          <xs:documentation>supplies the date of the change in standard form, i.e. YYYY-MM-DD.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:annotation>
      <xs:documentation>(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element ref="ns1:text"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="version" default="5.0" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>The version of the TEI scheme</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>contains a single text of any kind, whether unitary or
composite, for example a poem or drama, a collection of essays, a novel,
a dictionary, or a corpus sample.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:body">
          <xs:attribute name="decls">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="A">
                  <xs:annotation>
                    <xs:documentation>Press: Reportage</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="B">
                  <xs:annotation>
                    <xs:documentation>Press: Editorial</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="C">
                  <xs:annotation>
                    <xs:documentation>Press: Reviews</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="D">
                  <xs:annotation>
                    <xs:documentation>Religion</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="E">
                  <xs:annotation>
                    <xs:documentation>Skill and hobbies</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="F">
                  <xs:annotation>
                    <xs:documentation>Popular lore</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="G">
                  <xs:annotation>
                    <xs:documentation>Belles-lettres</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="H">
                  <xs:annotation>
                    <xs:documentation>Miscellaneous: government &amp; house organs</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="J">
                  <xs:annotation>
                    <xs:documentation>Learned</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="K">
                  <xs:annotation>
                    <xs:documentation>Fiction: general</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="L">
                  <xs:annotation>
                    <xs:documentation>Fiction: mystery</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="M">
                  <xs:annotation>
                    <xs:documentation>Fiction: science</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="N">
                  <xs:annotation>
                    <xs:documentation>Fiction: adventure</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="P">
                  <xs:annotation>
                    <xs:documentation>Fiction: romance</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="R">
                  <xs:annotation>
                    <xs:documentation>Humor</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="body">
    <xs:sequence>
      <xs:element ref="ns1:body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ns1:model.common"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.declaring.attribute.decls"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="s">
    <xs:annotation>
      <xs:documentation>(s-unit) contains a sentence-like division of a text.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
          <xs:attributeGroup ref="ns1:att.segLike.attribute.type"/>
          <xs:attributeGroup ref="ns1:att.segLike.attribute.function"/>
          <xs:attributeGroup ref="ns1:att.segLike.attribute.part"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="w">
    <xs:annotation>
      <xs:documentation>(word) </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.segLike"/>
      <xs:attribute name="subtype">
        <xs:annotation>
          <xs:documentation>contextual code indicating location of this lexical item</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>original POS code  associated with this
  lexical item</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NEG">
              <xs:annotation>
                <xs:documentation>negation marker</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NIL">
              <xs:annotation>
                <xs:documentation>nil marker</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABL">
              <xs:annotation>
                <xs:documentation>pre-qualifier quite, rather </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABN">
              <xs:annotation>
                <xs:documentation>pre-quantifier half, all </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABX">
              <xs:annotation>
                <xs:documentation>pre-quantifier both </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AP">
              <xs:annotation>
                <xs:documentation>post-determiner many, several, next </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APg">
              <xs:annotation>
                <xs:documentation>post-determiner with possessive marker other's </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AT">
              <xs:annotation>
                <xs:documentation>article a, the, no </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BE">
              <xs:annotation>
                <xs:documentation>be </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BED">
              <xs:annotation>
                <xs:documentation>were </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEDZ">
              <xs:annotation>
                <xs:documentation>was </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEG">
              <xs:annotation>
                <xs:documentation>being </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEM">
              <xs:annotation>
                <xs:documentation>am </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEN">
              <xs:annotation>
                <xs:documentation>been </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BER">
              <xs:annotation>
                <xs:documentation>are, art </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEZ">
              <xs:annotation>
                <xs:documentation>is </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CC">
              <xs:annotation>
                <xs:documentation>coordinating conjunction and, or </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CD">
              <xs:annotation>
                <xs:documentation>cardinal numeral one, two, 2,
etc. </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDg">
              <xs:annotation>
                <xs:documentation>cardinal numeral with possessive marker1960's</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CS">
              <xs:annotation>
                <xs:documentation>subordinating conjunction if, although </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DO">
              <xs:annotation>
                <xs:documentation>do </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOD">
              <xs:annotation>
                <xs:documentation>did </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOZ">
              <xs:annotation>
                <xs:documentation>does </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DT">
              <xs:annotation>
                <xs:documentation>singular determiner this, that </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTg">
              <xs:annotation>
                <xs:documentation>singular determiner with possessive marker
another's </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTI">
              <xs:annotation>
                <xs:documentation>singular or plural determiner/quantifier
some, any</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTS">
              <xs:annotation>
                <xs:documentation>plural determinerthese, those  </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTX">
              <xs:annotation>
                <xs:documentation>determiner/double conjunctioneither  </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EX">
              <xs:annotation>
                <xs:documentation>existential there</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HV">
              <xs:annotation>
                <xs:documentation>have </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HVD">
              <xs:annotation>
                <xs:documentation>had (past tense) </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HVG">
              <xs:annotation>
                <xs:documentation>having </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HVN">
              <xs:annotation>
                <xs:documentation>had (past participle) </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HVZ">
              <xs:annotation>
                <xs:documentation>has </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN">
              <xs:annotation>
                <xs:documentation>preposition </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JJ">
              <xs:annotation>
                <xs:documentation>adjective </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JJg">
              <xs:annotation>
                <xs:documentation>adjective with possessive marker</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JJR">
              <xs:annotation>
                <xs:documentation>comparative adjective </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JJS">
              <xs:annotation>
                <xs:documentation>semantically superlative adjective  chief, top </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JJT">
              <xs:annotation>
                <xs:documentation>morphologically superlative adjective biggest </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MD">
              <xs:annotation>
                <xs:documentation>modal auxiliary can, should, will </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NN">
              <xs:annotation>
                <xs:documentation>singular or mass noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NNg">
              <xs:annotation>
                <xs:documentation>possessive singular noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NNS">
              <xs:annotation>
                <xs:documentation>plural noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NNSg">
              <xs:annotation>
                <xs:documentation>possessive plural noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NP">
              <xs:annotation>
                <xs:documentation>proper noun or part of name phrase </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPg">
              <xs:annotation>
                <xs:documentation>possessive proper noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPS">
              <xs:annotation>
                <xs:documentation>plural proper noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPSg">
              <xs:annotation>
                <xs:documentation>possessive plural proper noun </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NR">
              <xs:annotation>
                <xs:documentation>adverbial noun home, today, west </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRg">
              <xs:annotation>
                <xs:documentation>adverbial noun with possessive marker e.g. yesterday's</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRS">
              <xs:annotation>
                <xs:documentation>plural adverbial noun  </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OD">
              <xs:annotation>
                <xs:documentation>ordinal numeralfirst, 2nd  </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PN">
              <xs:annotation>
                <xs:documentation>nominal pronoun everybody, nothing</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNg">
              <xs:annotation>
                <xs:documentation>possessive nominal pronoun</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPg">
              <xs:annotation>
                <xs:documentation>possessive personal pronoun my, our</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPgg">
              <xs:annotation>
                <xs:documentation>second (nominal) possessive
pronoun mine, ours</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPL">
              <xs:annotation>
                <xs:documentation>singular reflexive/intensive personal
pronoun myself</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPLS">
              <xs:annotation>
                <xs:documentation>plural reflexive/intensive personal
pronoun ourselves</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPO">
              <xs:annotation>
                <xs:documentation>objective personal pronoun me, him, it, them </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPS">
              <xs:annotation>
                <xs:documentation>3rd. singular nominative pronoun he, she, it, one</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPSS">
              <xs:annotation>
                <xs:documentation>other nominative personal pronoun I, we, they, you</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QL">
              <xs:annotation>
                <xs:documentation>qualifier very, fairly </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QLP">
              <xs:annotation>
                <xs:documentation>post-qualifier enough, indeed </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RB">
              <xs:annotation>
                <xs:documentation>adverb </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RBg">
              <xs:annotation>
                <xs:documentation>adverb with possessive marker else's</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RBR">
              <xs:annotation>
                <xs:documentation>comparative adverb </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RBT">
              <xs:annotation>
                <xs:documentation>superlative adverb </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RN">
              <xs:annotation>
                <xs:documentation>nominal adverb here then, indoors</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RP">
              <xs:annotation>
                <xs:documentation>adverb/particle about, off, up</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TO">
              <xs:annotation>
                <xs:documentation>infinitive marker to</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UH">
              <xs:annotation>
                <xs:documentation>interjection, exclamation </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VB">
              <xs:annotation>
                <xs:documentation>verb, base form </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VBD">
              <xs:annotation>
                <xs:documentation>verb, past tense </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VBG">
              <xs:annotation>
                <xs:documentation>verb, present participle/gerund </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VBN">
              <xs:annotation>
                <xs:documentation>verb, past participle </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VBZ">
              <xs:annotation>
                <xs:documentation>verb, 3rd. singular present </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WDT">
              <xs:annotation>
                <xs:documentation>wh- determiner what, which </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WPg">
              <xs:annotation>
                <xs:documentation>possessive wh- pronoun whose </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WPO">
              <xs:annotation>
                <xs:documentation>objective wh- pronoun whom, which, that </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WPS">
              <xs:annotation>
                <xs:documentation>nominative wh- pronoun who, which, that </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WQL">
              <xs:annotation>
                <xs:documentation>wh- qualifier how </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WRB">
              <xs:annotation>
                <xs:documentation>wh- adverb how, where, when</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.segLike.attribute.function"/>
      <xs:attributeGroup ref="ns1:att.segLike.attribute.part"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:annotation>
      <xs:documentation>(character) represents a character.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="ns1:att.segLike.attribute.type"/>
      <xs:attributeGroup ref="ns1:att.segLike.attribute.function"/>
      <xs:attributeGroup ref="ns1:att.segLike.attribute.part"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mw">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlbase"/>
      <xs:attribute name="pos">
        <xs:annotation>
          <xs:documentation>sequence of POS codes associated with this
lexical item</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="subtype">
        <xs:annotation>
          <xs:documentation>contextual code indicating location of this lexical item</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="FW">
              <xs:annotation>
                <xs:documentation>foreign word (hyphenated before regular
tag)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HL">
              <xs:annotation>
                <xs:documentation>word occurring in headline (hyphenated after regular tag)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NC">
              <xs:annotation>
                <xs:documentation>cited word (hyphenated after regular tag) </xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TL">
              <xs:annotation>
                <xs:documentation>word occurring in title (hyphenated after regular tag)</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
