training/word-corpora/nltk/3.2.2/nltk_data/corpora/brown_tei/BrownXML.dtd


<!--
DTD Generated 2008-10-15T13:04:29Z. 
TEI Edition: 1.1.0. Last updated on 4th July 2008.

-->

<!-- start datatypes -->

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!--end of predeclared classes -->

<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when CDATA #IMPLIED'>

<!ENTITY % att.declarable.attribute.default '
default (true|
false) "false" '>

<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>

<!ENTITY % att.duration.w3c.attribute.dur '
dur CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base CDATA #IMPLIED'>

<!ENTITY % att.segLike.attribute.type '
type CDATA #IMPLIED'>

<!ENTITY % att.segLike.attribute.function '
function CDATA #IMPLIED'>

<!ENTITY % att.segLike.attribute.part '
part (Y|
N|
I|
M|
F) "N" '>

<!ENTITY % att.typed.attribute.type '
type CDATA #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype CDATA #IMPLIED'>

<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "s |
 w |
 c |
 mw"> 
<!ENTITY % model.segLike_sequence "s, w, c, mw"> 
<!ENTITY % model.segLike_sequenceOptional "s?, w?, c?, mw?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "s*, w*, c*, mw*"> 
<!ENTITY % model.segLike_sequenceRepeatable "s+, w+, c+, mw+"> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl"> 
<!ENTITY % model.biblLike_sequence "bibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+"> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.personPart "bibl"> 
<!ENTITY % model.personPart_sequence "bibl"> 
<!ENTITY % model.personPart_sequenceOptional "bibl?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.personPart_sequenceRepeatable "bibl+"> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart "address |
 date |
 distributor |
 idno |
 availability"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, distributor, idno, availability"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, distributor?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, distributor*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, distributor+, idno+, availability+"> 
<!ENTITY % model.glossLike ""> 
<!ENTITY % model.glossLike_sequence ""> 
<!ENTITY % model.glossLike_sequenceOptional ""> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.glossLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "respStmt"> 
<!ENTITY % model.respLike_sequence "respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "respStmt+"> 
<!ENTITY % model.divTopPart ""> 
<!ENTITY % model.divTopPart_sequence ""> 
<!ENTITY % model.divTopPart_sequenceOptional ""> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTopPart_sequenceRepeatable ""> 
<!ENTITY % model.divTop ""> 
<!ENTITY % model.divTop_sequence ""> 
<!ENTITY % model.divTop_sequenceOptional ""> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTop_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.msItemPart "%model.respLike; |
 title |
 bibl"> 
<!ENTITY % model.msItemPart_sequence "%model.respLike;, title, bibl"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.respLike;?, title?, bibl?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.respLike;*, title*, bibl*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.respLike;+, title+, bibl+"> 
<!ENTITY % model.imprintPart "distributor"> 
<!ENTITY % model.imprintPart_sequence "distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "distributor+"> 
<!ENTITY % model.catDescPart ""> 
<!ENTITY % model.catDescPart_sequence ""> 
<!ENTITY % model.catDescPart_sequenceOptional ""> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.catDescPart_sequenceRepeatable ""> 
<!ENTITY % model.addressLike "email |
 address"> 
<!ENTITY % model.addressLike_sequence "email, address"> 
<!ENTITY % model.addressLike_sequenceOptional "email?, address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "email*, address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "email+, address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.featureVal ""> 
<!ENTITY % model.featureVal_sequence ""> 
<!ENTITY % model.featureVal_sequenceOptional ""> 
<!ENTITY % model.featureVal_sequenceOptionalRepeatable ""> 
<!ENTITY % model.featureVal_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |
 %model.imprintPart; |
 edition |
 extent |
 idno"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, edition, extent, idno"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, edition?, extent?, idno?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, edition*, extent*, idno*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, edition+, extent+, idno+"> 
<!ENTITY % model.frontPart ""> 
<!ENTITY % model.frontPart_sequence ""> 
<!ENTITY % model.frontPart_sequenceOptional ""> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart_sequenceRepeatable ""> 
<!ENTITY % model.addrPart "%model.nameLike; |
 addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |
 %model.addressLike; |
 %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |
 %model.highlighted; |
 %model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |
 %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike ""> 
<!ENTITY % model.divLike_sequence ""> 
<!ENTITY % model.divLike_sequenceOptional ""> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divLike_sequenceRepeatable ""> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % model.headerPart "encodingDesc |
 profileDesc"> 
<!ENTITY % model.headerPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.headerPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.headerPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.headerPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingPart "projectDesc |
 classDecl"> 
<!ENTITY % model.encodingPart_sequence "projectDesc, classDecl"> 
<!ENTITY % model.encodingPart_sequenceOptional "projectDesc?, classDecl?"> 
<!ENTITY % model.encodingPart_sequenceOptionalRepeatable "projectDesc*, classDecl*"> 
<!ENTITY % model.encodingPart_sequenceRepeatable "projectDesc+, classDecl+"> 
<!ENTITY % model.profileDescPart ""> 
<!ENTITY % model.profileDescPart_sequence ""> 
<!ENTITY % model.profileDescPart_sequenceOptional ""> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.profileDescPart_sequenceRepeatable ""> 
<!-- start predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 _DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 _DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq.limited '( #PCDATA |
 %model.limitedPhrase; |
 _DUMMY_model.global)*' >

<!ENTITY % macro.xtext '( #PCDATA |
 _DUMMY_model.gLike)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?) |
 text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
version CDATA "5.0"  >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(address line) contains one line of a postal address. -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:contains a postal  address, for example of a
publisher, an organization, or an individual. -->
<!ELEMENT address (_DUMMY_model.global*,((%model.addrPart;),_DUMMY_model.global*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:supplies information about the availability of a text, for
  example any restrictions on its use or distribution, its copyright
  status, etc. -->
<!ELEMENT availability (%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.declarable.attribute.default;
status (free|
unknown|
restricted) "unknown"  >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which
the sub-components may or may not be explicitly tagged. -->
<!ELEMENT bibl ( #PCDATA |
 _DUMMY_model.gLike |
 %model.highlighted; |
 %model.pPart.data; |
 _DUMMY_model.pPart.edit |
 %model.segLike; |
 _DUMMY_model.ptrLike |
 %model.biblPart; |
 _DUMMY_model.global)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.declarable.attribute.default;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body (_DUMMY_model.global*,(_DUMMY_model.divTop,(_DUMMY_model.global |
 _DUMMY_model.divTop)*)?,(_DUMMY_model.divGenLike,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)?,((_DUMMY_model.divLike,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (((%model.common;),_DUMMY_model.global*)+,((_DUMMY_model.divLike,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(_DUMMY_model.global |
 _DUMMY_model.divGenLike)*)+)?)),(_DUMMY_model.divBottom,_DUMMY_model.global*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.declaring.attribute.decls; >
<!--doc:(character) represents a character. -->
<!ELEMENT c %macro.xtext;>
<!ATTLIST c xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST c
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.segLike.attribute.type;
 %att.segLike.attribute.function;
 %att.segLike.attribute.part; >
<!--doc:(category description) describes some category within a taxonomy
or text typology, either in the form of a brief prose description
or in terms of the situational parameters used by the TEI
formal textDesc. -->
<!ELEMENT catDesc ( #PCDATA |
 %model.limitedPhrase; |
 _DUMMY_model.catDescPart)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:contains an individual descriptive category, possibly nested
within a superordinate category, within a user-defined taxonomy. -->
<!ELEMENT category ((catDesc |
 _DUMMY_model.glossLike*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:summarizes a particular change or correction made
to a particular version of an electronic text which is
shared between several researchers. -->
<!ELEMENT change ( #PCDATA |
 %model.limitedPhrase; |
 %model.inter; |
 _DUMMY_model.global)*>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.ascribed.attribute.who;
when CDATA #IMPLIED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory
codes used elsewhere in the text. -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:contains information about the creation of a text. -->
<!ELEMENT creation %macro.phraseSeq.limited;>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:contains a date in any format. -->
<!ELEMENT date ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 _DUMMY_model.global)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.datable.w3c.attribute.when;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype;
calendar CDATA #IMPLIED >
<!--doc:supplies the name of a person or other agency responsible for the
distribution of a text. -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(edition) describes the particularities of one edition of a text. -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(edition statement) groups information relating to one edition of a text. -->
<!ELEMENT editionStmt ((%model.pLike;)+ |
 (edition,respStmt*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(electronic mail address) contains an e-mail address identifying a location to which
e-mail messages can be delivered. -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(encoding description) documents the relationship between an electronic text and the
source or sources from which it was derived. -->
<!ELEMENT encodingDesc (%model.encodingPart; |
 %model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:describes the approximate size of a text as stored on
some carrier medium, whether digital or non-digital, specified in any convenient units. -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(file description) contains a full bibliographic description of an electronic
file. -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(identifying number) supplies any standard or non-standard number used to identify a
bibliographic item. -->
<!ELEMENT idno  (#PCDATA)>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
type CDATA #IMPLIED >
<!--doc:characterizes a single language or sublanguage used within a
  text. -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
ident CDATA #REQUIRED
usage CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mw  (#PCDATA)>
<!ATTLIST mw xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST mw
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
pos CDATA  #IMPLIED
subtype (FW|
HL|
NC|
TL) #IMPLIED >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:supplies the formal name of the namespace to which the elements
documented by its children belong. -->
<!ELEMENT namespace  EMPTY>
<!ATTLIST namespace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST namespace
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
name CDATA #REQUIRED >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a
text, specifically the languages and sublanguages used, the situation in
which it was produced, the participants and their setting. -->
<!ELEMENT profileDesc (creation?,_DUMMY_model.profileDescPart*)>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic
file was encoded, together with any other relevant information
concerning the process by which it was assembled or collected. -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.declarable.attribute.default; >
<!--doc:(publication statement) groups information concerning the publication or distribution
of an electronic or other text. -->
<!ELEMENT publicationStmt ((%model.pLike;)+ |
 (%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(responsibility) contains a phrase describing the nature of a person's
  intellectual responsibility. -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or
  series, where the specialized elements for authors, editors, etc. do
  not suffice or do not apply. -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+) |
 ((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(revision description) summarizes the revision history for a file. -->
<!ELEMENT revisionDesc (change)+>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(s-unit) contains a sentence-like division of a text. -->
<!ELEMENT s %macro.phraseSeq;>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST s
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.segLike.attribute.type;
 %att.segLike.attribute.function;
 %att.segLike.attribute.part; >
<!--doc:(source description) supplies a description of the source text(s) from
which an electronic text was derived or generated. -->
<!ELEMENT sourceDesc ((%model.pLike;)+ |
 (%model.biblLike; |
 _DUMMY_model.sourceDescPart |
 _DUMMY_model.listLike)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.declarable.attribute.default; >
<!--doc:defines a typology used to classify texts either implicitly, by
means of a bibliographic citation, or explicitly by a structured
taxonomy. -->
<!ELEMENT taxonomy (_DUMMY_model.glossLike* |
 category+ |
 ((%model.biblLike;),category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:contains the whole of a TEI encoded corpus, comprising a
single corpus header and one or more TEI elements, each containing
a single text header and a text. -->
<!ELEMENT teiCorpus (teiHeader,(TEI |
 teiCorpus)+)>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
version CDATA "5.0"  >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(TEI Header) supplies the descriptive and declarative information making
	up an electronic title page prefixed to every TEI-conformant
	text. -->
<!ELEMENT teiHeader (fileDesc,(%model.headerPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
type CDATA "text"  >
<!--doc:contains a single text of any kind, whether unitary or
composite, for example a poem or drama, a collection of essays, a novel,
a dictionary, or a corpus sample. -->
<!ELEMENT text (body)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
decls (A|
B|
C|
D|
E|
F|
G|
H|
J|
K|
L|
M|
N|
P|
R) #IMPLIED
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.typed.attribute.type;
 %att.typed.attribute.subtype; >
<!--doc:contains the full title of a work of any kind. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
level (a|
m|
j|
s|
u) #IMPLIED
type CDATA #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those
responsible for its intellectual content. -->
<!ELEMENT titleStmt (title+,respStmt*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase; >
<!--doc:(word)  -->
<!ELEMENT w ( #PCDATA |
 _DUMMY_model.gLike |
 %model.segLike; |
 _DUMMY_model.global |
 _DUMMY_model.lPart |
 _DUMMY_model.hiLike |
 _DUMMY_model.pPart.edit)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
subtype CDATA  #IMPLIED
type (NEG|
NIL|
ABL|
ABN|
ABX|
AP|
APg|
AT|
BE|
BED|
BEDZ|
BEG|
BEM|
BEN|
BER|
BEZ|
CC|
CD|
CDg|
CS|
DO|
DOD|
DOZ|
DT|
DTg|
DTI|
DTS|
DTX|
EX|
HV|
HVD|
HVG|
HVN|
HVZ|
IN|
JJ|
JJg|
JJR|
JJS|
JJT|
MD|
NN|
NNg|
NNS|
NNSg|
NP|
NPg|
NPS|
NPSg|
NR|
NRg|
NRS|
OD|
PN|
PNg|
PPg|
PPgg|
PPL|
PPLS|
PPO|
PPS|
PPSS|
QL|
QLP|
RB|
RBg|
RBR|
RBT|
RN|
RP|
TO|
UH|
VB|
VBD|
VBG|
VBN|
VBZ|
WDT|
WPg|
WPO|
WPS|
WQL|
WRB) #IMPLIED
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.segLike.attribute.function;
 %att.segLike.attribute.part; >
<!-- end elements -->
